header{
    background-color: #232536;
    padding: 25px 0;
    position: fixed;
    width: 100%;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav-list{
        display: flex;
        align-items: center;
        gap: 24px;
        a{
            color: #fff;
            font-family: Inter;
        }
        button{
            padding: 10px 30px;
            margin-left: 83px;
        }
    }
}